---
import Layout from "../layouts/layout.astro"
---
<Layout>
  <section class="hero">
    <h1>Blog MexiWeb</h1>
    <p>Consejos, tutoriales y estrategias para hacer crecer tu presencia online.</p>
  </section>
  <section class="card">
    <h2>¿Por qué tener una web profesional?</h2>
    <p>Descubre cómo un sitio web puede ayudarte a crecer.</p>
    <a href="#" class="button">Leer más</a>
  </section>
  <section class="card">
    <h2> SEO para principiantes </h2>
    <p> Mejora tu posicionamiento en Google paso a paso.</p>
    <a href="#" class="button">Leer más</a>
  </section>
</Layout>