<header>
    <nav>
      <a href="/">Inicio</a>
      <a href="/servicios">Servicios</a>
      <a href="/nosotros">Nosotros</a>
      <a href="/cotiza">Cotiza</a>
      <a href="/blog">Blog</a>
      <a href="/contacto">Contacto</a>
    </nav>
  </header>
